<!DOCTYPE HTML>
<!--
	Full Motion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
    <title>Erreur..</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/skel.min.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/util.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/jquery.poptrox.min.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}" defer></script>
</head>
<body id="top">
	<a href="/" class="bouton-retour"> << Accueil </a>
    <div id="erreur">
        Oupss... Informations invalides.
    </div>
    <div class="copyright">
        Contenu basé sur "Full Motion" par <a href="https://templated.co/license"> Templated</a>.
    </div>
</body>
</html>
